# Scratch & Submodules
scratch_repo/

# Dependencies
node_modules/
*/node_modules/
**/node_modules/
.pnp
.pnp.js

# Builds & Output
dist/
*/dist/
**/dist/

# Testing
coverage/

# Expo & Metro
.expo/
web-build/

# Environment & Logs
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Files
.DS_Store
Thumbs.db

.vercel
